.signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    background: rgba(255, 238, 169, 70%); 
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgb(0, 0, 0 , 0.6) ;
}

.signup-card{
    text-align: center;
    width: 572px;
    height: fit-content;
    
}

.signup-btn{
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 10px 0 10px 0;
    font-family: "Madimi One", sans-serif;
}
.signup-btn:hover{
    color:black;
    background-color: white;
    cursor: pointer;
}

.mb-3{
    text-align: left;
    padding:10px 20px 10px 20px;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.form-control{
    border: none;
    border-radius: 8px;
    padding: 10px 0 10px 0;
    text-align: center;
}

.forgot-password{
    padding:10px 20px 10px 20px;
}