.profile-container {
    max-width: 600px;
    
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 238, 169, 70%); ;
  }
  
  .profile-container h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .profile-container .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  .readonly-data{
    background-color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    cursor: default;
  }

  .profile-container .mb-3 {
    margin-bottom: 15px;
  }

  .profile-container .btn-primary{
    width: 100%;
    padding: 10px 0;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
  }
  
  .btn-primary:hover{
    cursor: pointer;
    border: 2px;
    border-color: black;
    background-color: white;
    color: black;
  }